body {
  background-image: url("travel.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

td {
	padding: 5px;
}

#homeBtn:hover{
	cursor: pointer;
}

.text-primary{
	font-size:200%;
}

.blueButton{
	background-color: blue;
}

.disabledLink{
        cursor: default;
        pointer-events: none;        
        text-decoration: none;
        color: grey;
}

#sex {
	width: 100%;
}

.filterGroup{
	border-bottom:2px solid grey;
	font-weight: bold;
}

#filterBtn{
	border:0px;
	font-size:30px;
	background:transparent;
}

.valid{
	display:block;
	font-size:0;
	color:red;
	font-weight:bold;
}

div.card{
	margin:10px;
	padding:5px;
	display:inline-block;
	width: 300px;
	transition: width 0.5s;
}

div.card:hover{
	cursor:pointer;
	width: 320px;
	margin:0px;
}

.dataBox {
	margin-left:10%;
	margin-right:10%;
	margin-top:50px;
	padding: 10px;
	background:white;
	border: 1px solid grey;
}

.btnClose{
	border:1px solid grey;
}
.btnClose:hover{
	background-color: #ddd;
}
