body {
  background-image: url("travel.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

td {
	padding: 5px;
}

.text-primary{
	font-size:200%;
}

.blueButton{
	background-color: blue;
}

.disabledLink{
        cursor: default;
        pointer-events: none;        
        text-decoration: none;
        color: grey;
}

table.centerSearch{
    float: right; 
}


#sex {
	width: 100%;
}

.filterGroup{
	border-bottom:2px solid grey;
	font-weight: bold;
}

#filterBtn{
	border:0px;
	font-size:30px;
}

.valid{
	display:block;
	font-size:0;
	color:red;
	font-weight:bold;
}

div.card{
	margin:5px;
	padding:5px;
	display:inline-block;
	width: 300px;
	transition: width 1s;
}

div.card:hover{
	cursor:pointer;
	width: 325px;
}
