.text-primary{
	font-size:200%
}

body {
  background-image: url("travel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.disabledLink{
        cursor: default;
        pointer-events: none;        
        text-decoration: none;
        color: grey;
}